aside{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #f5f5f5;
    padding: 20px;
    width: 270px;
    transition: 0.3s;
    overflow: hidden;
}
.close-sideMenu{
    position: absolute;
    top: 10px;
    right: 10px;
    display:none;
    background-color: transparent;
}
.image-container{
    width:  10em;
    height: 10em;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    object-fit: fill;
}

.user-title p{
    font-size: 0.8em;

}
.user-title .title{
    color: var(--info);
}

/* menu Item */

.menu-item li{
    position: relative;
    width: fit-content;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;

}
.menu-item li:hover{
    color: var(--info);
}

.menu-item li::before{
    content: '';
    position: absolute;
    bottom: 3px;
    width: 0%;
    height: 1px;
    background-color: var(--info);
    transition: 0.3s;
    left: 50%;
    transform: translateX(-50%);
}
.menu-item li:hover::before{
    width: 100%;
}


.active {
    color: var(--info) !important;
  }


@media (max-width:992px){
    aside{
        width: 0;
        padding: 0;
        z-index: 99999999999999;
    }
    .close-sideMenu{
        display: block;
    }
}